
.Hsu {
    box-sizing: border-box;
}
.Rym {
    left: 0;
}
.p6V {
    right: 0;
}
.QLY {
    top: 0;
}
.XiG {
    position: relative;
}
.qJc {
    background-color: 
    #fff;
}
.hUC {
    padding-bottom: 12px;
    padding-top: 12px;
}
a, div {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}
.qiB {
    position: relative;
    position: -webkit-sticky;
    position: sticky;
}
.Jea {
    display: flex;
    flex-direction: row;
}
.hs0 {
    flex-direction: row;
}