.DUt {
    border-radius: 8px;
    height:  40px;
}
.ujU {
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
}
.gjz {
    align-items: center;
}
.Hsu {
    box-sizing: border-box;
}
.gpV {
    background-color: 
    #efefef;
}
.Zr3 {
    padding-left: 12px;
    padding-right: 12px;
}
.Jea {
    display: flex;
    flex-direction: row;
}
a, div {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

html:not([dir="rtl"]) .DrD {
    text-align: left;
}
.B9u {
    color: 
    #8e8e8e;
}
._S5 {
    font-size: 18px;
}
.IZT {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}
.mWe {
    font-weight: 700;
}
.SMy {
    letter-spacing: -.4px;
}
.iFc {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,"\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3",Hiragino Kaku Gothic Pro,"\30E1\30A4\30EA\30AA",Meiryo,"\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF",Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
.dyH {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}